<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/js/paging.js"></script>  

    <link href="~/css/Bootstrap.css" rel="stylesheet" />
    @*<link href="~/css/style.css" rel="stylesheet" />*@
    <link href="~/css/AdminLayout.css" rel="stylesheet" />
    <link href="~/css/skin-blue.min.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    
    
<div class="wrapper">

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="../Account/Admin" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a class="add_user" href="@Url.Action("AddUser", null, new {area = string.Empty, controller = "Account"}, Request.Url.Scheme)">
                        Add User
                    </a>
                </li>
		  
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                   
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="/Images/profile.png" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs" style="margin-left: 40px;">@HttpContext.Current.User.Identity.Name</span>
                    </a>

                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="/Images/profile.png" class="img-circle" alt="User Image">

                            <p>
                                @HttpContext.Current.User.Identity.Name - Admin
                                <small>Member since June 2017</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
               
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="../Account/Admin" class="btn btn-default btn-flat">
                                    Profile
                                </a>
                            </div>
                            <div class="pull-right">
                                <!-- <a href="#" class="btn btn-default btn-flat">Sign out</a> -->
                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "logOffForm"}))
                                {
                                    <span class="nav navbar-nav navbar-right">
                                        <input type="submit" id="submit1" value="Logout" class="btn btn-default btn-flat"/>
                                    </span>
                                }
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Images/profile.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@HttpContext.Current.User.Identity.Name</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="@Url.Action("AllUsers", null, new {area = string.Empty, controller = "Account"}, Request.Url.Scheme)">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("AllAddresses", null, new {area = string.Empty, controller = "Address"}, Request.Url.Scheme)">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>Addresses</span>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("AllReports", null, new {area = string.Empty, controller = "Account"}, Request.Url.Scheme)">
                    <i class="glyphicon glyphicon-file"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("VacationRequests", null, new {area = string.Empty, controller = "Account"}, Request.Url.Scheme)">
                    <i class="glyphicon glyphicon-inbox"></i>
                    <span>Vacation Requests</span>
                </a>
            </li>
         
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
    </section>

    <!-- Main content -->
    <section class="content container">
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<footer class="main-footer">

    <strong>itcrowd &copy; 2017</strong>
</footer>

<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->    

<script src="~/js/Bootstrap.js"></script>
<script src="~/js/modernizr-2.6.2.js"></script>
<script src="~/js/respond.js"></script>
<script src="~/js/Admin.js"></script>
@*<script src="~/js/site.js"></script>*@

</body>
</html>