@model Itc.Am.Common.ViewModels.AddressVm

<link href="~/css/AddAddress.css" rel="stylesheet" />

    @{
        Layout = "~/Views/Shared/_Layout_User.cshtml";
    }


       
<div class="main">
   
    <div class="main-center main-login">
        <div class="row">
            <h3>Add Address</h3>
        </div>
        @using (Html.BeginForm("AddAddress", "Address", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            <div>
                @Html.ValidationSummary("", new {@class = "text-danger"})
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Id)
                @*@Html.HiddenFor(m => m.AddressId)
                                    @Html.HiddenFor(m => m.UserAddressId)*@

                <div class="form-group">
                    @Html.LabelFor(m => m.AddressFirst, new {@class = "col-sm-2 control-label label"})
                    <br/>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.AddressFirst, new {placeholder = "Address 1", @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.AddressSecond, new {@class = "col-sm-2 control-label label"})
                    <br/>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.AddressSecond, new {placeholder = "Address 2", @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.City, new {@class = " control-label label"})
                    <br/>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.City, new {placeholder = "City", @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PostalCode, new {@class = "col-sm-2 control-label label"})
                    <br/>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.PostalCode, new {placeholder = "Postal Code", @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Country, new {@class = "col-sm-2 control-label label"})
                    <br/>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.Country, new {placeholder = "Country", @class = "form-control"})
                        </div>
                    </div>
                </div>

                <div>
                    <input id="save" type="submit" value="Save"/>
                    <br/>
                    @Html.ActionLink("Back", "../MyProfile/MyProfile/" + Model.UserId)
                </div>
            </div>
        }
    </div>
</div>
